.searchBar {
  width:100%;
  padding:20px;
  display:flex;
  justify-content:center;
}
  
.searchBar > div {
  border:5px solid #aaa;
  font-family: Georgia, sans-serif;
}
  
.searchBar > div input {
  padding:10px;
  width:400px;
  border:none;
  outline:none;
  font-family: Georgia, sans-serif;
}  