.App {
  text-align: center;
}

.title {
  text-align: center;
  font-family:Arial;
  padding-top: 20px;
  color:#f5f5f5;
  text-shadow: 2px 2px 5px red;
  font-family: Georgia, sans-serif;
  font-size: x-large;
}

* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body {
  background:#222;
}